* {
  box-sizing: border-box;
}

html {
  border: 10px solid black;
}

h1 {
  background-color: #333333;
  font-family: Arial;
  font-weight: 2000;
  color: #ffffff;

  text-align: center;

  margin: 0px;
  padding: 20px;
}

h2 {
    background-color: #8cffc6;
    font-family: sans-serif;
    font-weight: 500;

    padding: 15px 10px 15px;
}

strong {
  font-weight: 900;

  border-bottom: 3px solid yellow;
}

div.button {
    background-color: grey;
    color: white;
    font-family: sans-serif;
    font-weight: bold;

    display: inline-block;
    text-align: center;

    margin: 0px;
    margin-top: 0px;
    padding: 8px 6px 8px;
}

div.image {
  display: inline-block;

  margin: 6px 0px 6px;
}

.row {
  margin-top: 5px;
  margin-bottom: 5px;
}

p.options {
    background-color: #ffbf00;
    font-family: sans-serif;

    margin: 0px;
    padding: 8px;
}

footer {
    background-color: black;
    color: white;
    font-family: sans-serif;
    font-weight: 900;

    text-align: center;

    padding: 2px;
    margin: 0px;
}
